@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  transition: background 0.3s ease;
}

.dark body {
  background: #000;
  color: white;
}

.light body {
  background: white;
  color: black;
}